{% extends 'base.html' %}
{% load static %}
{% block title %} CalculatorView {% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'calculatorView.css' %}">
    <h3>CalculatorView</h1>

    <div>
        <div class="container">
            <div class="calc-body">
              <div class="calc-screen">
                <div class="calc-operation">{{ history }}</div>
                <div class="calc-typed">{{ num }}<span class="blink-me">_</span></div>
              </div>
              <div class="calc-button-row">
                <div class="button c" onclick="resetCalculator()">C</div>
                <div class="button l">≠</div>
                <div class="button l">%</div>
                <div class="button l" onclick="addOperator('/')">/</div>
              </div>
              <div class="calc-button-row">
                <div class="button" onclick="addNumber(7)">7</div>
                <div class="button" onclick="addNumber(8)">8</div>
                <div class="button" onclick="addNumber(9)">9</div>
                <div class="button l" onclick="addOperator('*')">x</div>
              </div>
              <div class="calc-button-row">
                <div class="button" onclick="addNumber(4)">4</div>
                <div class="button" onclick="addNumber(5)">5</div>
                <div class="button" onclick="addNumber(6)">6</div>
                <div class="button l" onclick="addOperator('-')">−</div>
              </div>
              <div class="calc-button-row">
                <div class="button" onclick="addNumber(1)">1</div>
                <div class="button" onclick="addNumber(2)">2</div>
                <div class="button" onclick="addNumber(3)">3</div>
                <div class="button l" onclick="addOperator('+')">+</div>
              </div>
              <div class="calc-button-row">
                <div class="button" onclick="addNumber('.')">.</div>
                <div class="button" onclick="addNumber(0)">0</div>
                <div class="button" onclick="addNumber('00')">00</div>
                    <div class="button l" onclick="doCalculations()">=</div>
                </div>
              </div>
            </div>
            <script src="{% static 'calculatorView.js' %}"></script>
    </div>
    
{% endblock content %}